body{
   background-image: url('img/icon.png');/*Precisamos de uma imagem de fundo*/
   width: 100%;
   height: 500px;
 }
 
.secao{
    margin-top: 0;
    width: 100%;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
    background-image: url('img/icon.png');
    background-color: transparent;
 }
 .container{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    /*background-color: rgba(12, 46, 12, 0.4);*/
    display: flex;
 }
 
 .informacoes, .login{
    display: grid;
    
    place-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    
 }
 
 .login{
    background-color: white;
 }
 
 .formlogin{
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 
 .botaoform{
    color: white;
    /*background-color: green;*/
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkgreen;
    text-align: center;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
    font-weight: bold;
    width: fit-content;
 }