body{
    background-color: black;
    text-align: center;
    margin: auto;
}
h1{
    background-color:white; 
    text-align: center; 
}
label{
    text-align: left;
    display: block;
    margin-top:30px;
    font-size: 20px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 30px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
form{
    background-color: white;
    height: 600px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: green;
    color: white;
   padding: 15px 0;
   font-size: 18px;
   font-weight: 600;
   border-radius: 30px;
   cursor: pointer;
}

.logar{
  margin-top: 24px;
  text-align:center;   
}

.link{
    color: rgb(0, 0, 0);
}
